.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: #ffffff;
}

.filter__button {
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter__button:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
}

.filter__button:active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter__button_active {
  border-color: #ad61ff;
  color: #ad61ff;
  background-color: rgba(173, 97, 255, 0.1);
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}